.div-photo {
  height: 80%;
  width: 100%;
  background-size: cover !important;
  background-position: center;
}

.iw-title {
  color: black;
  text-decoration: none;
  text-shadow: none;
}

.gm-style-iw {
      display: flex;
    justify-content: center;
}
