// Define variables for your color scheme

// For example:
$red: #D0021B;
$blue: #469AE0;
$yellow: #F8E71C;
$orange: #F5A623;
$green_fonce: #005300;
$green_middle: #1E9F1E;
$green_clair: #CED321;
$dark_gray: #787878;
$very_dark_gray: #313030;
$gray: #A29A9A;
$light-gray: #faf7f7;
