.img-full-profil {
  width: 320px;
}

.p-styled {
  font-weight: 300 !important;
    color: #484848 !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: inline !important;
    padding-bottom: 2%;
}

.h-styled {
      font-weight: 700 !important;
    color: #484848 !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 36px !important;
    line-height: 44px !important;
    letter-spacing: -0.6px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.top-guide-page {
      border-bottom: 1px solid #DBDBDB !important;
      padding-bottom: 2%;
}

.part-up {
      padding-top: 4%;
          display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 4%;
}

.first-part-guide {
  display: flex;
  flex-direction: column;
}
