<p>Hi <%= @guide.user.first_name %> <%= @guide.user.last_name %>,</p>

<p>Vous avez une demande en attente :) </p>




<%= link_to "Cliquer ici pour acceder au message", conversations_url(@guide), class:"btn-primary green"%>

<p>A bientot!</p>
