<% @guides = Guide.where(pays: country.name) %>

<div class='iw-card container-iw country'>

<div class="div-photo" style="background-image:url('<%= cl_image_path country.images.sample.url, crop: :fill %>')">

</div>
  <p class='iw-title'><%= @guides.length %> guides disponibles.</p>
  <p style="color:black;"><%= country.description %></p>
</div>

