.footer {
  background: $very_dark_gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #9cba5f;
}
.footer .fa-heart {
  color: white;
}

.footer-left {
  color: white;
  opacity: 0.6;
  text-decoration: none;
  padding: 0px 10px;
}

.footer a {
  text-decoration: none;
  color:white;
}

.footer-page-link {
  list-style-type: none;
    li {
      font-size: 15px;
    font-weight: 300;
    }
}
